.standard-Font {
  font-size: 10px;
}
.standard-heading-font {
  font-size: 12px;
}
.text-link {
  //   color: #3f80ea;
  text-decoration: underline;
  cursor: pointer;
}
.textlink-border {
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}
.text-link2 {
  text-decoration: underline;
  cursor: pointer;
  margin-bottom: 5px;
}
.textlink-border2 {
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  margin-bottom: 5px;
}
