.custom-datepicker-wrapper {
    width: 100%;
    /* Add other styles as needed */
} 

/* In your CSS file or inline styles */
.tooltip-content {
    color: #07a6f0; /* Replace this with the desired color */
  }
 .validation {
    color: #d9534f;
    font-size: 11px;
 }
 #datepicker{
    font-size: 15px;
 }